.show-page-container{
    /* margin: 1rem; */
    /* margin-top: 0.5rem; */
    margin: 70px 0;
    color: white;
    font-family: 'Work Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
  }
   .show-name {
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    margin-top: 0.5rem;
    color: #408ac8;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 3%;
  }
  .show-headers {
    font-family: 'Work Sans', sans-serif;
    color:#f0ccb3;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10%;
    margin-top: 5%;
  }
  .show-overview {
    margin: 1rem;
    margin-top: 0.5rem;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
  }
  .show-release-date {
    margin: 1rem;
    margin-top: 0.5rem;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
  }
  .show-page-img {
    color: white;
    font-family: 'Work Sans', sans-serif;
    max-width: 200px;
    height: auto;
  }
  .unavail-img {
    /* display: block;
    margin: auto; */
    max-width: 100%;
    height: auto;
  }
  .trailer-button{
    border-radius: 25px;
    padding: 8px 14px;
    border-color: #f0ccb3;
    background-color: #140e3e;
    color: #f0ccb3;
    display: flex;
    font-size: 14px;
    margin-left: 25%;
    margin-top: 3%;
    border-style: solid;
  }
  .trailer-button:hover{
    background-color: #f0ccb3;
    color: #dd3e42;
  }
  .shw-title{
    font-family: 'Work Sans', sans-serif;
    color:#f0ccb3;
    font-weight: bold;
    font-size: 18px;
    /* margin-left: 10%;
    margin-top: 5%;
    text-decoration-line: underline;
    text-decoration-color: #dd3e42; */
  }